
        <h3>Add Company</h3>
        <br>

        <form ng-submit="addCompanySubmit()">
            <label for="name">Name:</label>
            <input ng-model="company.name" type="text" required><br>

            <label for="email">Email:</label>
            <input ng-model="company.email"  type="email" required><br>

            <label for="phone">Phone number:</label>
            <input ng-model="company.phone" type="text" required><br>

            <label for="website">Website Url:</label>
            <input ng-model="company.website" type="url" required><br>

            <label for="street">Street:</label>
            <input ng-model="company.street" type="text" required><br>
            
            <label for="city">City:</label>
            <input ng-model="company.city" type="text" required><br>

            <input type="submit" value="Submit">
        </form>
