
        <h3>Assign Examiner</h3>
        <br>

        <div>
            <form ng-submit="assignSubmit()" >
                <h3>
                    Internship #{{internship.id}} for Student {{internship.student.studentId}} - {{internship.student.name}}
                    @ {{internship.hostCompany.name}}
                </h3>
                <br>

                <label for="examiner">Examiner:</label>
                <select ng-model = "internship.examiner"  ng-options = "examiner as examiner.firstName + ' ' + examiner.lastName for examiner in faculty | filter: {isCoordinator : 0}" required>
                </select>
                <br><br>

                <div>
                    <label for="presentationLocation">Presentation Location:</label>
                    <input ng-model="internship.presentationLocation"
                           type="text" required/>
                    <br><br>

                    <label >Presentation Date:</label>
                    <input ng-model="internship.presentationDate"
                           required />

                    <br><br>

                    <label >Presentation Time:</label>
                    <input ng-model="internship.presentationTime"
                           required/>
                    <br><br>
                </div>
                <input type="submit" value="submit">
            </form>
        </div>
