


            <br>
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                You need to complete at least 90 CH to register an internship
            </div>

 
            <h1>Register an Internship</h1>
            <label>Student Id:</label>{{loggedinUser.studentId}}
            <br>
            <label>Name:</label>{{loggedinUser.fullName}}
            <br>
            <label>Completed Hours:</label>{{loggedinUser.completedCHs}}
            <br>
            <label>GPA:</label>{{loggedinUser.gpa}}
            <form ng-submit="registerSubmit()">
                <input type="hidden" name="studentid" value="${user.studentId}">
                <label for="companies">Select 4 Preferred Companies:</label>
                <div>
                    <select ng-model = "internship.preferredCompanies" ng-options = "company as company.name for company in companies" id="companies"  multiple autofocus size="8">
                    </select>
                </div>
                <br>
                <input type="submit" value="Register" class="btn btn-primary">
            </form>
 

