


            <p class='message'>${message}</p>


        <h1> Internship Details</h1>
        </br>
        <table>
            <thead>
                <tr> 
                    <th>Internship Id</th>
                    <th>Status</th>
                    <th>Host Company</th>
                    <th>Preferred Companies</th>
                    <th>Examiner</th>
                    <th>Presentation</th>
                </tr>
            </thead>
            <tbody>
                <tr> 
                    <td>{{internship.id}}</td>
                    <td>{{internship.status}}</td>
                    <td >
                        <span ng-show="internship.hasOwnProperty('hostCompany')">{{internship.hostCompany.name}}</span>
                    </td>
                    <td>
                        <p ng-repeat="company in internship.preferredCompanies"> - {{company.name}} </p>
                    </td>
                    <td >
                        <span ng-show="internship.hasOwnProperty('examiner')">{{internship.examiner.name}}</span>
                    </td>
                    <td >
                        <span ng-show="internship.hasOwnProperty('presentationDate')">{{internship.presentationDate}} {{internship.presentationTime}}
                            @{{internship.presentationLocation}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>

        <a href="#/studentGrade?internshipID = {{internship.id}}" ng-show="internship.hasOwnProperty('gradeItems')">View Grade</a>

